@charset "UTF-8";



.table{
	border: 10px solid #00ff00;
 	border-radius: 10%;
 	/* padding: 5px 20px; */
	position: relative;
	margin: 2% 30% 5% 30%;
/* 	top: 50%;
	left: 50%; */
	width: 900px;
	height: 700px;
/* 	margin-left: -220px;
	margin-top: -170px; */
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.teams{
	display: inline;
	width: 600px;
	height: 350px;
	/* border: 1px solid red; */
}
.mascot{
	display: inline-block;
	position:relative;
	float: right;
	/* border: 2px solid blue; */
	margin-left: 400px;
	margin-top: -60px;
}

/* img{opacity: 0.5;} */

h1{
	font-size: 30px;
	padding-bottom: 20px;
}

.form > div{
	display: flex;
	justify-content: center;
	padding-bottom: 7px;
	align-items: center;
}

table{
	border-collapse: collapse;
}
tr{
	border-bottom: 2px solid #c0c0c0;
}

th{
	width: 100px;
	text-align: left;
	font-size: 18px;
	padding: 15px 5px 10px 5px;
}

td{
	font-family: monospace;
	font-size: 18px;
	padding: 15px 5px 10px 5px;
}



label{
	flex: 1;
	text-align: left;
	width: 40px;
}

button{
	width: 85px;
	float: right;
	padding: 3px;
	border-radius: 20% / 50%;
}

input, a{
	padding: 4.5px;
}

button:hover{
	border-color: #80ffff;
	background-color: #80ffff;
	font-weight: bold;
}

